## Handling Imbalanced Dataset

1. Up Sampling
2. Down Sampling

In [10]:
import numpy as np
import seaborn as sns
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with 2 classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples - n_class_0

In [11]:
n_class_0, n_class_1

(900, 100)

In [ ]:
# Create a Dataframe
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0]*n_class_0 # 0 will get multiplied by datapoint to get target
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_1),
    'target': [1]*n_class_1 # 1 will get multiplied by datapoint to get target
})

# loc=0 sets the mean of the distribution to 0
# scale=1 sets the standard deviation to 1

In [25]:
df = pd.concat([class_0, class_1] , ignore_index=True)

In [26]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [28]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [30]:
# upsampling
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [ ]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority , replace = True ,
                                 n_samples=len(df_majority),
                                 random_state = 42
                                 )

# setting any fixed value for random_state will ensure that the upsampling results are reproducible

In [33]:
df_minority_upsampled.shape

(900, 3)

In [ ]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951  -0.874146  -0.156083       1
992   0.196570  -0.602575       1
914  -0.067830   0.998053       1
971   0.272825   1.034197       1
960   0.870056  -0.449515       1

In [37]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [38]:
df_upsampled

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
952  -0.811098   0.189189       1
965   1.919526  -0.019459       1
976   0.810326   1.604614       1
942   1.621531   0.168229       1
974  -0.839113   0.489203       1

[1800 rows x 3 columns]

In [39]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [40]:
## Downsampling
df_majority_downsampled = resample(df_majority , replace=True ,
            n_samples=len(df_minority) , random_state=42
            )

In [41]:
df_majority_downsampled.shape

(100, 3)

In [42]:
df_majority_downsampled.head()

     feature_1  feature_2  target
102   0.712265   0.718151       0
435   1.199988   0.574621       0
860   0.304515  -0.759475       0
270  -1.213385   0.675504       0
106   0.179549  -0.202659       0

In [43]:
df_downsampled = pd.concat([df_majority_downsampled , df_minority])

In [44]:
df_downsampled

     feature_1  feature_2  target
102   0.712265   0.718151       0
435   1.199988   0.574621       0
860   0.304515  -0.759475       0
270  -1.213385   0.675504       0
106   0.179549  -0.202659       0
..         ...        ...     ...
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

[200 rows x 3 columns]

In [45]:
df_downsampled['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64